# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
Debug/
MiniGolf/Debug
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pdb
*.sdf
*.log
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

MiniGolf/Debug/MiniGolf.log
MiniGolf.v12.suo
MiniGolf.sdf
